[req]
default_bits = 2048
default_keyfile = client.key
distinguished_name = req_distinguished_name
req_extensions = req_ext

[req_distinguished_name]
countryName = Country Name (2 letter code)
stateOrProvinceName = State or Province Name (full name)
localityName = Locality Name (e.g., city)
organizationalUnitName = Organizational Unit Name (e.g., section)
commonName = Common Name (e.g., client name)
emailAddress = Email Address

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = localhost
IP.1 = 127.0.0.1

